<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about.html</title>
</head>
<body>
    {% extends "base.html" %}
    {% block asosiy %}
               
    {% if 5 > 8 %} 
   <h1>bu saytning o'zgarmas menyusi</h1>
<hr>
{% else %}
<h2>
    Bu aboutning sayti
</h2>
{% endif %}
<img src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2Fyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="">
    {% endblock asosiy %}
</body>
</html>





