<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <li> <a href="/"home></a></li>
    <li> <a href="{% url 'about' %}">about</a></li>    
    </ul>
    {% block asosiy %} 
    <h1>bu saytning o'zgarmas menyusi</h1>
<hr>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis impedit obcaecati repudiandae quod iste aliquid id, ipsa necessitatibus totam velit voluptate! Laboriosam voluptates, libero porro ea obcaecati nihil voluptate eligendi.</h2>
    {% endblock asosiy %}
</body>
</html>




